{% extends "_base.html" %}

{% block preheader_text %}
  Your password reset link has arrived.
{% endblock %}

{%  block template %}

  {{ macros.title("Member Care") }}

  Hi {{ user.first_name }},
  <br><br>
  Your password reset link has arrived.
  <br><br>
  Click the button below to reset your password. If you didn't request a password reset, ignore this message.
  <br><br>
  {{ macros.button(config.FRONTEND_HOST + "/#/admin/reset-password?reset_token=" + reset_token, "Reset your password") }}
  <br><br>
  For security reasons, this button will only be active for 30 minutes.
  <br><br>
  Cheers,
  <br>
  The Team

{% endblock %}